{% include "admin/admin_header.html" %}
<h1 class="h1 mt-3 text-center">Forest Animals</h1>

<div class="card mx-auto mb-3 mt-5" style="max-width: 800px;">
    <div class="card-body">
        <form action="" class="form needs-validation" method="post" enctype="multipart/form-data" id="animalForm" novalidate>
            {% csrf_token %}
            {% if q5 %}
            <table class="table">
                <tr>
                    <td align="center" colspan="2">
                        <label for="id_photo">
                            <img src="/{{q5.animal_image}}" width="200px" alt="" id="image-preview" class="img-thumbnail">
                            <input type="file" name="image" id="id_photo" style="display: none;">
                        </label>
                    </td>
                </tr>
                <tr>
                    <th>Forest division:</th>
                    <td>
                        <select name="dname" id="divisionSelect" class="form-control" required>
                            {% for i in q4 %}
                            <option value="{{i.id}}">{{i.division_name}}</option>
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback">Please select a forest division.</div>
                    </td>
                </tr>
                <tr>
                    <th>Animal name:</th>
                    <td><input type="text" name="animal_name" id="animalName" value="{{q5.animal_name}}" class="form-control" required>
                        <div class="invalid-feedback">Please provide an animal name.</div>
                    </td>
                </tr>
                <tr>
                    <th>Description:</th>
                    <td><textarea name="description" id="animalDescription" cols="30" rows="10" class="form-control" required>{{q5.animal_description}}</textarea>
                        <div class="invalid-feedback">Please provide a description.</div>
                    </td>
                </tr>
                <tr>
                    <th>Safetytip:</th>
                    <td><input type="text" name="safetytip" id="safetyTip" value="{{q5.safety_tips}}" class="form-control" required>
                        <div class="invalid-feedback">Please provide a safety tip.</div>
                    </td>
                </tr>

                <tr>
                    <td><input type="submit" value="Update" name="update" class="btn btn-primary mt-2"></td>
                </tr>
            </table>
            </form>
        </div>
            {% else %}
            <form>
            <table class="table">
                <tr>
                    <th>Forest division:</th>
                    <td>
                        <select name="dname" id="divisionSelect" class="form-control" required>
                            {% for i in q1 %}
                            <option value="{{i.id}}">{{i.division_name}}</option>
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback">Please select a forest division.</div>
                    </td>
                </tr>
                <tr>
                    <th>Animal name:</th>
                    <td><input type="text" name="animal_name" id="animalName" class="form-control" required>
                        <div class="invalid-feedback">Please provide an animal name.</div>
                    </td>
                </tr>
                <tr>
                    <th>Animal image:</th>
                    <td><input type="file" name="image" id="animalImage" class="form-control-file" required>
                        <div class="invalid-feedback">Please provide an animal image.</div>
                    </td>
                </tr>
                <tr>
                    <th>Description:</th>
                    <td><textarea name="description" id="animalDescription" cols="30" rows="10" class="form-control" required></textarea>
                        <div class="invalid-feedback">Please provide a description.</div>
                    </td>
                </tr>
                <tr>
                    <th>Safetytip:</th>
                    <td><input type="text" name="safetytip" id="safetyTip" class="form-control" required>
                        <div class="invalid-feedback">Please provide a safety tip.</div>
                    </td>
                </tr>

                <tr>
                    <td><input type="submit" value="ADD" name="submit" class="btn btn-primary"></td>
                </tr>
            </table>
        </form>
    </div>
</div>
    <form>
        <div class="container mt-5">
            <div class="row">
                <div class="col-12">
                    <table class="table table-bordered">
                        <tr>
                            <th>Name</th>
                            <th>Division</th>
                            <th>Image</th>
                            <th>Description</th>
                            <th>Safety tip</th>
                            <th>Actions</th>
                        </tr>
                        {% for i in q2 %}
                        <tr>
                            <td>{{i.animal_name}}</td>
                            <td>{{i.FOREST_DIVISION.division_name}}</td>
                            <td><img src="/{{i.animal_image}}" width="100px" alt="" class="img-thumbnail"></td>
                            <td>{{i.animal_description}}</td>
                            <td>{{i.safety_tips}}</td>
                            <td><a href="update_animal/{{i.id}}" class="btn btn-success">UPDATE</a>
                                <a href="delete_animal/{{i.id}}" class="btn btn-danger">DELETE</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </form>
    {% endif %}
    <script>
        // Function to handle form submission
        function validateForm() {
            var form = document.getElementById('animalForm');
            if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            }
            form.classList.add('was-validated');
        }

        // Event listener for form submission
        $(document).ready(function () {
            $('#animalForm').submit(function (event) {
                validateForm();
            });
        });

        // Script for image preview
        $(document).ready(function () {
            $('#id_photo').change(function (e) {
                console.log("File selected"); // Debugging statement
                var file = e.target.files[0];
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#image-preview').attr('src', e.target.result);
                }

                reader.readAsDataURL(file);
            });
        });

        // Script for input field validation
        $(function () {
            $("input[name='dname'], #animalName, #safetyTip").on('input', function (e) {
                $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));
            });

            $("input[name='safetytip']").on('input', function (e) {
                $(this).val($(this).val().replace(/[^A-Za-z0-9()/. ]/g, ''));
            });

            $("textarea[name='description']").on('input', function (e) {
                $(this).val($(this).val().replace(/[^A-Za-z0-9()/. ]/g, ''));
            });

            $("input[name='pincode']").on('input', function (e) {
                $(this).val($(this).val().replace(/[^0-9]/g, ''));
            });

            $("input[name='username']").on('input', function (e) {
                $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));
            });

            $("input[name='password']").on('input', function (e) {
                $(this).val($(this).val().replace(/[^0-9A-Za-z@/. ]/g, ''));
            });
        });

        
    </script>

</div>
{% include "footer.html" %}
