{%include "admin/admin_header.html"%}
{%if q4%}
<form action="" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <th>First name:</th>
            <td><input type="text" name="fname" id="" value="{{q4.fname}}"></td>
        </tr>
        <tr>
            <Th>Last name: </Th>
            <td><input type="text" name="lname" id="" value="{{q4.lname}}"></td>
        </tr>
        <tr>
            <th>Place: </th>
            <td><input type="text" name="place" id="" value="{{q4.place}}"></td>
        </tr>
        <tr>
            <th>Phone no: </th>
            <td><input type="text" name="phno" id="" value="{{q4.phone}}"></td>
        </tr>
        <tr>
            <th>Designation: </th>
            <td>
                <select name="designation">
                    <option value="SI">SI</option>
                    <option value="PC">PC</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </td>
        </tr>
        <tr>
            <th><input type="submit" value="Update" name="update"></th>
        </tr>
    </table>
</form>
{%else%}
<form action="" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <th>First name:</th>
            <td><input type="text" name="fname" id=""></td>
        </tr>
        <tr>
            <Th>Last name: </Th>
            <td><input type="text" name="lname" id=""></td>
        </tr>
        <tr>
            <th>Place: </th>
            <td><input type="text" name="place" id=""></td>
        </tr>
        <tr>
            <th>Phone no: </th>
            <td><input type="text" name="phno" id=""></td>
        </tr>
        <tr>
            <th>Email: </th>
            <td><input type="email" name="email" id=""></td>
        </tr>
        <tr>
            <th>Password: </th>
            <td><input type="password" name="password" id=""></td>
        </tr>
        <tr>
            <th>Designation: </th>
            <td>
                <select name="designation">
                    <option value="SI">SI</option>
                    <option value="PC">PC</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </td>
        </tr>
        <tr>
            <th><input type="submit" value="Add" name="submit"></th>
        </tr>
    </table>
</form>
<form>
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Place</th>
            <th>Phone</th>
            <th>Designation</th>
        </tr>
        {%for i in q3%}
        <tr>
            <th>{{i.fname}}</th>
            <th>{{i.lname}}</th>
            <th>{{i.place}}</th>
            <th>{{i.phone}}</th>
            <th>{{i.designation}}</th>

            <td><a href="update_officer/{{i.id}}">UPDATE</a></td>
            <td><a href="delete_officer/{{i.id}}">DELETE</a></td>
            <td><a href=""></a></td>
        </tr>
        {%endfor%}
    </table>
</form>
{%endif%}
{%include "footer.html"%}
