{% include "admin/admin_header.html" %}

<div class="container mt-5">
    <h1 class="h1 text-center mb-5">Forest Divisions</h1>

    {% if q3 %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form action="" class="form needs-validation" method="post" novalidate>
                {% csrf_token %}
                <div class="form-group">
                    <label for="dname">Division name:</label>
                    <input type="text" name="dname" id="dname" class="form-control" value="{{q3.division_name}}" required>
                    <div class="invalid-feedback">Please enter a division name.</div>
                </div>
                <button type="submit" class="btn btn-primary mt-2" name="update">Update</button>
            </form>
        </div>
    </div>
    {% else %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form action="" method="post" class="needs-validation" novalidate>
                {% csrf_token %}
                <div class="form-group">
                    <label for="dname">Division name:</label>
                    <input type="text" name="dname" id="dname" class="form-control" required>
                    <div class="invalid-feedback">Please enter a division name.</div>
                </div>
                <button type="submit" class="btn btn-primary mt-2" name="submit">Add</button>
            </form>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Forest Division</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in q2 %}
                    <tr>
                        <td>{{i.division_name}}</td>
                        <td>
                            <a href="update_division/{{i.id}}" class="btn btn-success">Update</a>
                            <a href="delete_division/{{i.id}}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(function() {
        $("input[name='dname']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));
        });
    });
</script>

{% include "footer.html" %}
