{% include "admin/admin_header.html" %}

<div class="container mt-5">
    <form action="" method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="form-group">
            <label for="reply">Reply:</label>
            <textarea name="reply" id="reply" class="form-control" rows="10" required></textarea>
            <div class="invalid-feedback">Please enter a reply.</div>
        </div>
        <button type="submit" class="btn btn-primary mt-2" name="submit">Submit</button>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(function() {
        $("textarea[name='reply']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));
        });
    });
</script>

{% include "footer.html" %}
