{% include "header.html" %}

 <!-- Spinner Start -->
 <div
 id="spinner"
 class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
>
 <div
   class="spinner-border text-primary"
   style="width: 3rem; height: 3rem"
   role="status"
 >
   <span class="sr-only">Loading...</span>
 </div>
</div>
<!-- Spinner End -->

<nav
class="navbar navbar-expand-lg bg-white navbar-light sticky-top py-lg-0 px-4 px-lg-5 wow fadeIn"
data-wow-delay="0.1s"
>
<a href="/" class="navbar-brand p-0">
  <img class="img-fluid me-3" src="/static/assets/img/icon/icon-10.png" alt="Icon" />
  <h1 class="m-0 text-primary">WildGuard</h1>
</a>
<button
  type="button"
  class="navbar-toggler"
  data-bs-toggle="collapse"
  data-bs-target="#navbarCollapse"
>
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse py-4 py-lg-0" id="navbarCollapse">
  <div class="navbar-nav ms-auto" id="navbar-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
    <a href="login" class="btn btn-primary ml-3">Login <i class="fa fa-arrow-right ms-3"></i> </a>
  </div>
</nav>

<div id="home" class="container-fluid p-0 position-relative jumbotron">
  <div class="bg-gradient-primary text-white py-5 text-center">
    <div class="container">
      <h1 class="display-4 mb-4 " style="color:  rgba(158, 255, 47, 0.596);">Welcome to WildGuard!</h1>
      <p class="lead">Download our app to get timely alerts if you are near forest areas.</p>
      <a href="#" class="btn btn-lg btn-outline-light ps-4">Download App <i class="fa fa-arrow-down ms-3"></i> </a>
    </div>
  </div>
  <div class="overlay"></div>
</div>

<div id="about" class="container mt-5">
  <h2 class="mb-4 text-center">About WildGuard</h2>
  <div class="container text-justify" >
    <p>In a world where the delicate balance between human habitat and natural ecosystems is increasingly 
    under pressure, Human activity has altered a growing portion of the earth's surface, changing the 
    population, habitat, and behaviour of wildlife. Therefore, keeping an eye on wild animals is crucial 
    because it gives researchers data to use in conservation and management decisions that will help 
    keep ecosystems diversified, balanced, and viable in the face of these changes. Forest area has been 
    turned into human settlements as a result of the rapid growth in the human population. The wild 
    creatures suffer from a lack of food and water as a result. However, because of deforestation, which 
    compels them to enter human environments, wildlife is severely distressed. It causes severe losses 
    to both lives and property. Over 1300 people have reportedly died in India over the last three years 
    as a result of tiger and elephant attacks, according to the Times of India. Humans are thus in grave 
    danger, and it will take a very long time for them to recover from their great loss. The connection 
    between humans and animals has the potential to lead to crises for both species, which is why an 
    intelligence monitoring and alerting system is required.</p>
    <p>
    WildGuard represents a collaborative effort between technology enthusiasts, wildlife 
    conservationists, and community stakeholders, united by a common vision of mitigating the risks 
    associated with human-wildlife interactions. Through the seamless integration of advanced machine 
    learning algorithms, real-time monitoring capabilities, and user-friendly interfaces</p>
  <p>Our mission is to mitigate the risks associated with human-wildlife interactions and prevent  potential encounters, ultimately saving lives.</p>
  </div>
</div>

<!-- Facts Start -->
<div
class="container-xxl bg-primary facts my-5 py-5 wow fadeInUp"
data-wow-delay="0.1s"
>
<div class="container py-5">
  <div class="row g-4">
    <div
      class="col-md-6 col-lg-3 text-center wow fadeIn"
      data-wow-delay="0.1s"
    >
      <i class="fa fa-paw fa-3x text-primary mb-3"></i>
      <h1 class="text-white mb-2" data-toggle="counter-up">145</h1>
      <p class="text-white mb-0">Total Animals detected</p>
    </div>
    <div
      class="col-md-6 col-lg-3 text-center wow fadeIn"
      data-wow-delay="0.3s"
    >
      <i class="fa fa-users fa-3x text-primary mb-3"></i>
      <h1 class="text-white mb-2" data-toggle="counter-up">12450</h1>
      <p class="text-white mb-0">Total Users</p>
    </div>
    <div
      class="col-md-6 col-lg-3 text-center wow fadeIn"
      data-wow-delay="0.5s"
    >
      <i class="fa fa-certificate fa-3x text-primary mb-3"></i>
      <h1 class="text-white mb-2" data-toggle="counter-up">678</h1>
      <p class="text-white mb-0">Total Alerts</p>
    </div>
    <div
      class="col-md-6 col-lg-3 text-center wow fadeIn"
      data-wow-delay="0.7s"
    >
      <i class="fa fa-shield-alt fa-3x text-primary mb-3"></i>
      <h1 class="text-white mb-2" data-toggle="counter-up">13524</h1>
      <p class="text-white mb-0">Save Wild Life</p>
    </div>
  </div>
</div>
</div>
<!-- Facts End -->

<div id="services" class="container mt-5">
  <h2 class="mb-4 text-center">Our Services</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="card border-0 shadow rounded-lg mb-4 service-card">
        <div class="card-body text-center">
          <i class="fas fa-video fa-3x text-primary mb-3"></i>
          <h5 class="card-title">Real-time Monitoring</h5>
          <p class="card-text">We provide real-time monitoring capabilities to detect wildlife activities near forest areas.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card border-0 shadow rounded-lg mb-4 service-card">
        <div class="card-body text-center">
          <i class="fas fa-robot fa-3x text-primary mb-3"></i>
          <h5 class="card-title">Advanced Machine Learning</h5>
          <p class="card-text">We employ advanced machine learning algorithms for accurate wildlife detection and alerting.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card border-0 shadow rounded-lg mb-4 service-card">
        <div class="card-body text-center">
          <i class="fas fa-mobile-alt fa-3x text-primary mb-3"></i>
          <h5 class="card-title">Mobile App</h5>
          <p class="card-text">Our dedicated mobile app provides real-time information on detected wild animals, precise instructions, and location data.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="contact" class="container mt-5">
  <h2 class="mb-4 text-center">Contact Us</h2>
  <p class="text-center">If you have any questions or inquiries, feel free to contact us.</p>
  <p class="text-center">Email: info@wildguard.com</p>
  <p class="text-center">Phone: +1 (123) 456-7890</p>
</div>

{% include "footer.html" %}
