{% include "forest_officer/officer_header.html" %}

<h1 class="h1 mt-5 text-center">Alerts</h1>

<div class="container mt-5">
    <form action="" method="post" class="needs-validation" novalidate>
        {% csrf_token %} 
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="form-group >
                    <label for="alerttext">Description:</label>
                    <textarea class="form-control" name="alerttext" id="alerttext" rows="5" required></textarea>
                    <div class="invalid-feedback">Please enter a description.</div>
                </div>
                <div class="form-group mt-2">
                    <label for="date">Date:</label>
                    <input type="date" class="form-control" name="date" id="date" required>
                    <div class="invalid-feedback">Please enter a date.</div>
                </div>
                <div class="form-group mt-2">
                    <input type="submit" class="btn btn-primary mt-2" value="Submit" name="submit">
                </div>
            </div>
        </div>
    </form>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Description</th>
                        <th>Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for alert in q2 %}
                        <tr>
                            <td>{{ alert.description }}</td>
                            <td>{{ alert.date }}</td>
                            <td>
                                <a href="delete_alert/{{ alert.id }}" class="btn btn-danger">Delete</a>
                                <!-- Add more actions if needed -->
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(function() {
        $("input[name='alerttext']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));
        });
        
    });

</script>

{% include "footer.html" %}
