{% include 'forest_officer/officer_header.html' %}

<div class="container mt-5">
    <h1 class="mb-4">Users Available for Chat</h1>
    <div class="row">
        {% for user_data in user_details %}
        <div class=" mb-4">
            <div class="card message-card rounded shadow">
                <div class="card-body">
                    <h5 class="card-title">{{ user_data.user.fname}} {{user_data.user.lname}}</h5>
                    <p class="card-text">Last Message: {% if user_data.last_message %}{{ user_data.last_message.message }}{% else %}No messages{% endif %}</p>
                    <p class="card-text">Last Message Date: {% if user_data.last_message %}{{ user_data.last_message.date }}{% else %}N/A{% endif %}</p>
                    <a href="officer_chat/{{user_data.user.id}}" class="btn btn-primary">Chat</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% include 'footer.html' %}
