{% include "forest_officer/officer_header.html" %}

<div class="container mt-5">
    <h1 class="h1 text-center">Notifications</h1>


    <div class="list-group mt-4">
        {% for notification in q1 %}
        <div class="card message-card rounded shadow mb-5">
            <div class="card-body">
                <div class="row ">
                    <div class="col-12">
                        <table class="">
                                <tr>
                                    <th scope="col" >{{ notification.date }}</th>
                                    <td><pre>  </pre></td>
                                    <th class="h4 ">{{ notification.title }}</th>
                                </tr>
                        </table>
                        <div>
                            <p class="p m-2">{{ notification.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% include "footer.html" %}